<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EF_Name" value="DrBonusingEntities"/>
    <add key="Items" value="Reward,RewardInstance,ParticipantTier,ParticipantGroup,ParticipantMember,ParticipantInjection,RewardInstanceBonusGroup,ParticipantRequirementLink,VisitRequirement,PointsRequirement,BonusPreviousVisit,BonusSpecialDay,BonusTimeVisit,BonusTarget,DropRequirement,TurnoverRequirement,PurchaseRequirement,WinLossRequirement,RewardFree,Promotion"/>
    <add key="ServiceName" value="ManagementService"/>
    <add key="Namespace" value="DataModels"/>
    <add key="ModelNamespace" value="DataModels"/>
    <add key="TransactionNamespace" value="DataModels.Transactions"/>
    <add key="ServiceProcessNamespace" value="DataModels.ServiceProcess"/>
    <add key="UseTableAsID" value="false"/>
  </appSettings>
</configuration>