<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EF_Name" value="DrBonusingEntities"/>
    <add key="Items" value="PrizeItemEventEntryBooking,PrizeItemStockBooking,Prize,PrizeItemDetail,PrizeTransaction,PrizeCategory,PrizeItemSerial,PrizePackagePrize,PrizePackage,PrizeSupplier"/>
    <add key="ServiceName" value="ManagementService"/>
    <add key="Namespace" value="DataModels"/>
    <add key="ModelNamespace" value="DataModels"/>
    <add key="TransactionNamespace" value="DataModels.Transactions"/>
    <add key="ServiceProcessNamespace" value="drBonusingService.ManagementService.Process.Prize"/>
    <add key="UseTableAsID" value="false"/>
    <add key="ServiceEndpointOnceComplete" value="http://localhost/TestGen/ManagementService/"/>
  </appSettings>
</configuration>