<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EF_Name" value="CoreLinkEntities"/>
    <add key="Items" value="Country,Language,Customer,UserLog,LicenceTx,CustomerStaffUser,Licence,PublicHoliday,Currency,User,ResellerCustomer,Reseller,CustomerAccTx"/>
    <add key="ServiceName" value="CoreLink"/>
    <add key="Namespace" value="CoreLink"/>
    <add key="ModelNamespace" value="CoreLink.Models"/>
    <add key="TransactionNamespace" value="CoreLink.Transactions"/>
    <add key="ServiceProcessNamespace" value="CoreLink.ServiceProcess"/>
    <!-- 0 - false : 1 - true-->
    <add key="UseTableAsID" value="0"/>
    <add key="ExcludeUID" value="1"/>
    <add key="ExcludeDeleteFlag" value="1"/>
    <add key="ServiceEndpointOnceComplete" value="http://localhost/TestGen/ManagementService/"/>
  </appSettings>
</configuration>